@layer ui.components {
  .root {
    position: relative;
    box-sizing: border-box;
    width: var(--scroll-area-width, 100%);
    height: var(--scroll-area-height, 100%);
    min-width: 0;
    min-height: 0;
    color: var(--scroll-area-color, var(--color-foreground));
  }

  .viewport {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    border-radius: var(--scroll-area-radius, var(--radius-md));
    background-color: var(--scroll-area-bg, transparent);
    outline: 0;
    overscroll-behavior: contain;
    scrollbar-width: none;
    --_scroll-area-block-fade-mask: linear-gradient(
      to bottom,
      transparent 0,
      black
        min(
          var(--scroll-area-fade-start-size, var(--scroll-area-fade-size, var(--spacing-10))),
          var(--scroll-area-overflow-y-start, 0px)
        ),
      black
        calc(
          100% -
            min(
              var(--scroll-area-fade-end-size, var(--scroll-area-fade-size, var(--spacing-10))),
              var(--scroll-area-overflow-y-end, 0px)
            )
        ),
      transparent 100%
    );

    &::-webkit-scrollbar {
      display: none;
    }

    .root[data-fade] & {
      mask-image: var(--_scroll-area-block-fade-mask);
      mask-repeat: no-repeat;
    }

    &:focus-visible {
      outline: var(
          --scroll-area-focus-ring-width,
          var(--focus-ring-inset-width, var(--border-width-sm))
        )
        solid var(--scroll-area-focus-ring-color, var(--color-ring));
      outline-offset: var(--scroll-area-focus-ring-offset, var(--focus-ring-inset-offset));
    }
  }

  .content {
    box-sizing: border-box;
    display: block;
    padding: var(--scroll-area-content-padding, 0);
  }

  .scrollbar {
    --_scroll-area-scrollbar-margin: var(--scroll-area-scrollbar-margin, var(--spacing-1));
    --_scroll-area-scrollbar-hit-area-size: var(
      --scroll-area-scrollbar-hit-area-size,
      var(--spacing-5)
    );

    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: var(--scroll-area-scrollbar-padding, 0);
    border-radius: var(--scroll-area-scrollbar-radius, var(--radius-md));
    background-color: var(--scroll-area-scrollbar-bg, transparent);
    opacity: var(--scroll-area-scrollbar-hidden-opacity, 0);
    pointer-events: none;
    user-select: none;
    touch-action: none;
    transition:
      opacity var(--scroll-area-transition, var(--transition-default)),
      width var(--scroll-area-thumb-hover-transition, var(--transition-fast)),
      height var(--scroll-area-thumb-hover-transition, var(--transition-fast));

    &::before {
      content: '';
      position: absolute;
    }

    &[data-orientation='vertical'] {
      top: 0;
      inset-inline-end: 0;
      bottom: var(--corner-height, 0px);
      width: var(--scroll-area-scrollbar-size, var(--spacing-1));
      margin-block: var(--_scroll-area-scrollbar-margin);
      margin-inline-end: var(--_scroll-area-scrollbar-margin);

      &::before {
        width: var(--_scroll-area-scrollbar-hit-area-size);
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      &:not([data-overflow-y]) {
        display: none;
      }

      &:hover,
      &[data-dragging] {
        width: calc(
          var(--scroll-area-scrollbar-size, var(--spacing-1)) +
            var(--scroll-area-thumb-hover-increase, 2px)
        );
      }
    }

    &[data-orientation='horizontal'] {
      inset-inline-start: 0;
      inset-inline-end: var(--corner-width, 0px);
      bottom: 0;
      height: var(--scroll-area-scrollbar-size, var(--spacing-1));
      flex-direction: column;
      margin-inline: var(--_scroll-area-scrollbar-margin);
      margin-block-end: var(--_scroll-area-scrollbar-margin);

      &::before {
        width: 100%;
        height: var(--_scroll-area-scrollbar-hit-area-size);
        left: 0;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
      }

      &:not([data-overflow-x]) {
        display: none;
      }

      &:hover,
      &[data-dragging] {
        height: calc(
          var(--scroll-area-scrollbar-size, var(--spacing-1)) +
            var(--scroll-area-thumb-hover-increase, 2px)
        );
      }
    }

    &[data-hover],
    &[data-scrolling] {
      opacity: var(--scroll-area-scrollbar-visible-opacity, 1);
      pointer-events: auto;
    }

    &[data-scrolling] {
      transition-duration: 0ms;
    }

    .root[data-variant='always'] & {
      opacity: var(--scroll-area-scrollbar-visible-opacity, 1);
      pointer-events: auto;
    }
  }

  .thumb {
    box-sizing: border-box;
    border-radius: var(--scroll-area-thumb-radius, var(--radius-full));
    background-color: var(--scroll-area-thumb-bg, var(--color-border));

    &[data-orientation='vertical'] {
      width: 100%;
      min-height: var(--scroll-area-thumb-min-size, var(--size-xs));
    }

    &[data-orientation='horizontal'] {
      height: 100%;
      min-width: var(--scroll-area-thumb-min-size, var(--size-xs));
    }
  }

  .corner {
    box-sizing: border-box;
    background-color: var(--scroll-area-corner-bg, var(--scroll-area-scrollbar-bg, transparent));
  }
}