@layer ui.components {
  .root {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--radio-group-gap, var(--spacing-2));
    color: var(--radio-group-color, var(--color-foreground));

    &[data-disabled] {
      cursor: default;
    }
  }

  .label {
    color: var(--radio-group-label-color, var(--radio-group-color, var(--color-foreground)));
    font-size: var(--radio-group-label-font-size, var(--text-sm));
    font-weight: var(--radio-group-label-font-weight, var(--weight-semibold));
    line-height: var(--radio-group-label-line-height, var(--line-height-text-sm));
  }

  .item {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: var(--radio-gap, var(--spacing-2));
    vertical-align: middle;
    cursor: pointer;

    &[data-disabled] {
      cursor: default;
      opacity: var(--radio-disabled-opacity, var(--opacity-disabled));
    }
  }

  .itemControl {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    appearance: none;
    width: var(--_radio-size, 1.25rem);
    height: var(--_radio-size, 1.25rem);
    border: var(--radio-border-width, var(--border-width-sm)) solid
      var(--radio-border-color, var(--color-border));
    border-radius: var(--radius-full);
    background-color: var(--radio-bg, var(--color-background));
    color: var(--radio-indicator-color, var(--color-primary-foreground));
    outline: 0;
    line-height: 0;
    user-select: none;
    transition:
      background-color var(--radio-transition, var(--transition-default)),
      border-color var(--radio-transition, var(--transition-default)),
      border-width var(--radio-transition, var(--transition-default)),
      color var(--radio-transition, var(--transition-default)),
      opacity var(--radio-transition, var(--transition-default));

    &::before {
      display: block;
      width: var(--_radio-indicator-size, 0.5rem);
      height: var(--_radio-indicator-size, 0.5rem);
      border: var(--radio-indicator-border-width, 0) solid
        var(--radio-indicator-border-color, currentColor);
      border-radius: var(--radio-indicator-radius, var(--radius-full));
      background-color: currentColor;
      content: '';
      opacity: 0;
      transform: scale(0.6);
      transition:
        opacity var(--radio-transition, var(--transition-default)),
        transform var(--radio-transition, var(--transition-default));
    }

    &[data-state='checked'] {
      border-color: var(--radio-border-color-checked, var(--color-primary));
      background-color: var(--radio-bg-checked, var(--color-primary));

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }

    &[data-focus-visible] {
      outline: var(--radio-focus-ring-width, var(--focus-ring-inset-width, var(--border-width-sm)))
        solid var(--radio-focus-ring-color, var(--color-ring));
      outline-offset: var(--radio-focus-ring-offset, var(--border-width-sm));
    }

    @media (hover: hover) {
      &[data-state='unchecked']:not([data-readonly], [data-disabled]):hover {
        background-color: var(--radio-bg-hover, var(--color-accent));
      }
    }

    &[data-readonly],
    &[data-disabled] {
      cursor: default;
    }

    &[data-size='xs'] {
      --_radio-size: var(--radio-size-xs, var(--spacing-3-5));
      --_radio-indicator-size: var(--radio-indicator-size-xs, var(--spacing-1));
    }

    &[data-size='sm'] {
      --_radio-size: var(--radio-size-sm, var(--spacing-4));
      --_radio-indicator-size: var(--radio-indicator-size-sm, var(--spacing-1-5));
    }

    &[data-size='md'] {
      --_radio-size: var(--radio-size-md, var(--spacing-5));
      --_radio-indicator-size: var(--radio-indicator-size-md, var(--spacing-2));
    }

    &[data-size='lg'] {
      --_radio-size: var(--radio-size-lg, var(--size-xs));
      --_radio-indicator-size: var(--radio-indicator-size-lg, var(--spacing-2-5));
    }

    &[data-size='xl'] {
      --_radio-size: var(--radio-size-xl, var(--spacing-7));
      --_radio-indicator-size: var(--radio-indicator-size-xl, var(--spacing-3));
    }
  }

  .itemText {
    color: var(--radio-label-color, var(--color-foreground));
    font-size: var(--radio-label-font-size, var(--text-sm));
    font-weight: var(--radio-label-font-weight, var(--weight-medium));
    line-height: var(--radio-label-line-height, var(--line-height-text-sm));
  }

  .indicator {
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    height: var(--height);
    border-radius: var(--radio-indicator-radius, var(--radius-full));
    background-color: var(--radio-bg-checked, var(--color-primary));
    opacity: var(--radio-group-indicator-opacity, 0.12);
    pointer-events: none;
    transition: var(--transition-property, translate)
      var(--radio-transition, var(--transition-default));
  }
}