.content {
  --moduix-menu-popup-min-width: 13rem;
}

.contextTrigger {
  --moduix-menu-trigger-bg-hover: var(--moduix-color-muted);
  --moduix-menu-trigger-bg-active: var(--moduix-color-muted);

  width: 16rem;
  min-height: 10rem;
  border-style: dashed;
}