.label {
  display: grid;
  gap: var(--moduix-spacing-2);
}

.input {
  min-block-size: var(--moduix-size-md);
  border: var(--moduix-border-width-sm) solid var(--moduix-color-border);
  border-radius: var(--moduix-radius-md);
}