.siblingRow {
  display: flex;
  align-items: center;
  gap: var(--moduix-switch-gap, var(--moduix-spacing-2));
}

.label {
  color: var(--moduix-switch-label-color, var(--moduix-color-foreground));
  font-size: var(--moduix-switch-label-font-size, var(--moduix-text-sm));
  font-weight: var(--moduix-switch-label-font-weight, var(--moduix-weight-medium));
  line-height: var(--moduix-switch-label-line-height, var(--moduix-line-height-text-sm));
}