@layer moduix.components {
  .root {
    --_heading-font-size: var(--moduix-heading-font-size-2xl, var(--moduix-text-3xl));
    --_heading-line-height: var(
      --moduix-heading-line-height-2xl,
      var(--moduix-line-height-text-3xl)
    );
    --_heading-font-weight: var(
      --moduix-heading-font-weight-semibold,
      var(--moduix-weight-semibold)
    );

    margin: 0;
    color: var(--moduix-heading-color, var(--moduix-color-foreground));
    font-family: var(--moduix-heading-font-family, inherit);
    font-size: var(--moduix-heading-font-size, var(--_heading-font-size));
    font-weight: var(--moduix-heading-font-weight, var(--_heading-font-weight));
    line-height: var(--moduix-heading-line-height, var(--_heading-line-height));
    letter-spacing: var(--moduix-heading-letter-spacing, 0);
    text-wrap: var(--moduix-heading-text-wrap, balance);
    overflow-wrap: break-word;

    &:is(h6):not([data-size]),
    &[data-size='xs'] {
      --_heading-font-size: var(--moduix-heading-font-size-xs, var(--moduix-text-sm));
      --_heading-line-height: var(
        --moduix-heading-line-height-xs,
        var(--moduix-line-height-text-sm)
      );
    }

    &:is(h5):not([data-size]),
    &[data-size='sm'] {
      --_heading-font-size: var(--moduix-heading-font-size-sm, var(--moduix-text-md));
      --_heading-line-height: var(
        --moduix-heading-line-height-sm,
        var(--moduix-line-height-text-md)
      );
    }

    &:is(h4):not([data-size]),
    &[data-size='md'] {
      --_heading-font-size: var(--moduix-heading-font-size-md, var(--moduix-text-lg));
      --_heading-line-height: var(
        --moduix-heading-line-height-md,
        var(--moduix-line-height-text-lg)
      );
    }

    &:is(h3):not([data-size]),
    &[data-size='lg'] {
      --_heading-font-size: var(--moduix-heading-font-size-lg, var(--moduix-text-xl));
      --_heading-line-height: var(
        --moduix-heading-line-height-lg,
        var(--moduix-line-height-text-xl)
      );
    }

    &:is(h2):not([data-size]),
    &[data-size='xl'] {
      --_heading-font-size: var(--moduix-heading-font-size-xl, var(--moduix-text-2xl));
      --_heading-line-height: var(
        --moduix-heading-line-height-xl,
        var(--moduix-line-height-text-2xl)
      );
    }

    &[data-size='2xl'] {
      --_heading-font-size: var(--moduix-heading-font-size-2xl, var(--moduix-text-3xl));
      --_heading-line-height: var(
        --moduix-heading-line-height-2xl,
        var(--moduix-line-height-text-3xl)
      );
    }

    &[data-weight='regular'] {
      --_heading-font-weight: var(
        --moduix-heading-font-weight-regular,
        var(--moduix-weight-regular)
      );
    }

    &[data-weight='medium'] {
      --_heading-font-weight: var(--moduix-heading-font-weight-medium, var(--moduix-weight-medium));
    }

    &[data-weight='bold'] {
      --_heading-font-weight: var(--moduix-heading-font-weight-bold, var(--moduix-weight-bold));
    }
  }
}