.stack {
  display: flex;
  width: min(34rem, calc(100vw - var(--moduix-spacing-8)));
  flex-direction: column;
  gap: var(--moduix-spacing-3);
}

.aligned {
  display: flex;
  width: min(34rem, calc(100vw - var(--moduix-spacing-8)));
  flex-direction: column;
  gap: var(--moduix-spacing-4);
}

.narrow {
  display: flex;
  width: min(18rem, calc(100vw - var(--moduix-spacing-8)));
  flex-direction: column;
  gap: var(--moduix-spacing-4);
}