.backdrop {
  --select-backdrop-bg: var(--color-overlay);
  --select-backdrop-blur: 4px;
}

.customTrigger {
  position: relative;
  z-index: calc(var(--z-popup) + 1);
}

.arrow {
  --select-arrow-stroke-color: var(--select-popup-border-color);
}