.customChildrenButton {
  --moduix-close-button-size: 2.5rem;
  --moduix-close-button-icon-size: 1.25rem;
}

.customButton {
  --moduix-close-button-size: 2.5rem;
  --moduix-close-button-icon-size: 1rem;
  --moduix-close-button-bg: var(--moduix-color-primary);
  --moduix-close-button-bg-hover: var(--moduix-color-foreground);
  --moduix-close-button-color: var(--moduix-color-primary-foreground);
  --moduix-close-button-color-hover: var(--moduix-color-primary-foreground);
}