.root [data-slot='steps-item'],
.root [data-slot='steps-item']:last-child {
  flex: 1 1 0;
}

.actions {
  display: flex;
  gap: var(--moduix-spacing-2);
  justify-content: flex-end;
}

@media (max-width: 40rem) {
  .root [data-slot='steps-item'],
  .root [data-slot='steps-item']:last-child {
    flex: 0 0 auto;
  }
}