@layer moduix.components {
  .root {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: var(--moduix-toggle-group-gap, var(--moduix-border-width-sm));
    padding: var(--moduix-toggle-group-padding, var(--moduix-border-width-md));
    border: var(--moduix-toggle-group-border-width, var(--moduix-border-width-sm)) solid
      var(--moduix-toggle-group-border-color, var(--moduix-color-border));
    border-radius: var(--moduix-toggle-group-radius, var(--moduix-radius-lg));
    background-color: var(--moduix-toggle-group-bg, var(--moduix-color-muted));
    color: var(--moduix-toggle-group-color, var(--moduix-color-foreground));

    &[data-orientation='vertical'] {
      flex-direction: column;
      align-items: stretch;

      & > .item {
        width: 100%;
        justify-content: flex-start;
      }
    }

    &[data-variant='ghost'] {
      --moduix-toggle-group-bg: var(--moduix-toggle-group-ghost-bg, transparent);
      --moduix-toggle-group-border-color: var(
        --moduix-toggle-group-ghost-border-color,
        transparent
      );
      --moduix-toggle-group-padding: var(--moduix-toggle-group-ghost-padding, 0);
    }

    &[data-variant='outline'] {
      --moduix-toggle-group-bg: var(
        --moduix-toggle-group-outline-bg,
        var(--moduix-color-background)
      );
    }
  }

  .item {
    flex: 0 0 auto;
    border-radius: var(--moduix-toggle-group-item-radius, var(--moduix-radius-md));
    --moduix-toggle-default-color: var(--moduix-toggle-group-color, var(--moduix-color-foreground));
    --moduix-toggle-ghost-color: var(--moduix-toggle-group-color, var(--moduix-color-foreground));
    --moduix-toggle-outline-color: var(--moduix-toggle-group-color, var(--moduix-color-foreground));
  }
}