@layer ui.components {
  .root {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: var(--toggle-group-gap, var(--border-width-sm));
    padding: var(--toggle-group-padding, var(--border-width-md));
    border: var(--toggle-group-border-width, var(--border-width-sm)) solid
      var(--toggle-group-border-color, var(--color-border));
    border-radius: var(--toggle-group-radius, var(--radius-lg));
    background-color: var(--toggle-group-bg, var(--color-muted));
    color: var(--toggle-group-color, var(--color-foreground));

    &[data-orientation='vertical'] {
      flex-direction: column;
      align-items: stretch;

      & > .item {
        width: 100%;
        justify-content: flex-start;
      }
    }

    &[data-variant='ghost'] {
      --toggle-group-bg: var(--toggle-group-ghost-bg, transparent);
      --toggle-group-border-color: var(--toggle-group-ghost-border-color, transparent);
      --toggle-group-padding: var(--toggle-group-ghost-padding, 0);
    }

    &[data-variant='outline'] {
      --toggle-group-bg: var(--toggle-group-outline-bg, var(--color-background));
    }
  }

  .item {
    flex: 0 0 auto;
    border-radius: var(--toggle-group-item-radius, var(--radius-md));
    --toggle-default-color: var(--toggle-group-color, var(--color-foreground));
    --toggle-ghost-color: var(--toggle-group-color, var(--color-foreground));
    --toggle-outline-color: var(--toggle-group-color, var(--color-foreground));
  }
}