:root {
  --moduix-border-width-sm: 1px;
  --moduix-border-width-md: 2px;
  --moduix-border-width-lg: 4px;

  --moduix-focus-ring-width: var(--moduix-border-width-md);
  --moduix-focus-ring-inset-width: var(--moduix-border-width-sm);
  --moduix-focus-ring-offset: var(--moduix-spacing-0-5);
  --moduix-focus-ring-inset-offset: calc(var(--moduix-border-width-sm) * -1);
}