:root {
  --moduix-radius: 0.625rem;
  --moduix-radius-none: 0;

  --moduix-radius-xs: calc(var(--moduix-radius) * 0.4);
  --moduix-radius-sm: calc(var(--moduix-radius) * 0.6);
  --moduix-radius-md: calc(var(--moduix-radius) * 0.8);
  --moduix-radius-lg: var(--moduix-radius);
  --moduix-radius-xl: calc(var(--moduix-radius) * 1.2);
  --moduix-radius-full: 9999px;
}