:root {
  /* Primitives */
  --moduix-spacing-0: 0px;
  --moduix-spacing-1: 4px;
  --moduix-spacing-0-5: calc((var(--moduix-spacing-0) + var(--moduix-spacing-1)) / 2);
  --moduix-spacing-2: 8px;
  --moduix-spacing-1-5: calc((var(--moduix-spacing-1) + var(--moduix-spacing-2)) / 2);
  --moduix-spacing-3: 12px;
  --moduix-spacing-2-5: calc((var(--moduix-spacing-2) + var(--moduix-spacing-3)) / 2);
  --moduix-spacing-4: 16px;
  --moduix-spacing-3-5: calc((var(--moduix-spacing-3) + var(--moduix-spacing-4)) / 2);
  --moduix-spacing-5: 20px;
  --moduix-spacing-4-5: calc((var(--moduix-spacing-4) + var(--moduix-spacing-5)) / 2);
  --moduix-spacing-6: 24px;
  --moduix-spacing-7: calc((var(--moduix-spacing-6) + var(--moduix-spacing-8)) / 2);
  --moduix-spacing-8: 32px;
  --moduix-spacing-10: 40px;

  /* Semantic (for components; use primitives directly for larger values) */
  --moduix-spacing-xs: var(--moduix-spacing-1); /*  4px */
  --moduix-spacing-sm: var(--moduix-spacing-2); /*  8px */
  --moduix-spacing-md: var(--moduix-spacing-3); /* 12px */
  --moduix-spacing-lg: var(--moduix-spacing-4); /* 16px */
  --moduix-spacing-xl: var(--moduix-spacing-5); /* 20px */
  --moduix-spacing-2xl: var(--moduix-spacing-6); /* 24px */
}