@layer ui.components {
  .root {
    display: flex;
    flex: var(--stack-flex, initial);
    flex-direction: var(--stack-direction-mobile, column);
  }

  @media (min-width: 640px) {
    .root {
      flex-direction: var(--stack-direction-desktop, var(--stack-direction-mobile, column));
    }
  }
}