.stack {
  display: flex;
  width: fit-content;
  max-width: min(34rem, calc(100vw - var(--spacing-8)));
  flex-direction: column;
  gap: var(--spacing-3);
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.aligned {
  display: flex;
  width: fit-content;
  max-width: min(34rem, calc(100vw - var(--spacing-8)));
  flex-direction: column;
  gap: var(--spacing-4);
}

.narrow {
  display: flex;
  width: min(18rem, calc(100vw - var(--spacing-8)));
  flex-direction: column;
  gap: var(--spacing-4);
}