@layer ui.components {
  .root {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: var(--aspect-ratio-radius, var(--radius-md));

    & > :where(img, video, iframe, canvas, svg) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}