@layer ui.storybook {
  .stack {
    width: 20rem;
  }

  .card {
    width: 20rem;
  }

  .mediaObject {
    width: 24rem;
  }

  .layoutExample {
    width: 24rem;
    padding-block: 4px;
  }

  .customBlock {
    width: 20rem;
    --skeleton-bg: var(--color-primary);
    --skeleton-radius: var(--radius-full);
    --skeleton-animation: none;
  }

  .customSkeleton {
    opacity: 0.28;
  }
}