@layer ui.storybook {
  .stack {
    width: 20rem;
  }

  .card {
    width: 20rem;
  }

  .mediaObject {
    width: 24rem;
  }

  .growStack {
    flex: 1 1 0;
  }

  .layoutExample {
    width: 24rem;
    padding-block: 4px;
  }

  .listRow {
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 767px) {
    .listRow {
      align-items: stretch;
      flex-direction: column;
    }
  }
}