.circleContainer {
  position: relative;
  display: inline-grid;
  place-items: center;
}

.circleContainer [data-slot='progress-circular-circle'],
.circleContainer [data-slot='progress-circular-value-text'] {
  grid-area: 1 / 1;
}