@layer ui.storybook {
  .demoRoot {
    width: 22rem;

    @media (min-width: 32rem) {
      width: 32rem;
    }
  }

  .panelContent {
    padding: var(--spacing-3);
  }

  .customIcon {
    --accordion-icon-open-transform: rotate(180deg);
  }
}