@layer ui.components {
  .root {
    box-sizing: border-box;
    position: relative;
    max-width: none;

    &[data-inline='xs'] {
      margin-inline: calc(var(--bleed-inline-xs, var(--spacing-1)) * -1);
    }

    &[data-inline='sm'] {
      margin-inline: calc(var(--bleed-inline-sm, var(--spacing-2)) * -1);
    }

    &[data-inline='md'] {
      margin-inline: calc(var(--bleed-inline-md, var(--spacing-3)) * -1);
    }

    &[data-inline='lg'] {
      margin-inline: calc(var(--bleed-inline-lg, var(--spacing-4)) * -1);
    }

    &[data-inline='xl'] {
      margin-inline: calc(var(--bleed-inline-xl, var(--spacing-6)) * -1);
    }

    &[data-inline='full'] {
      margin-inline: var(--bleed-inline-full, calc(50% - 50vw));
    }

    &[data-block='xs'] {
      margin-block: calc(var(--bleed-block-xs, var(--spacing-1)) * -1);
    }

    &[data-block='sm'] {
      margin-block: calc(var(--bleed-block-sm, var(--spacing-2)) * -1);
    }

    &[data-block='md'] {
      margin-block: calc(var(--bleed-block-md, var(--spacing-3)) * -1);
    }

    &[data-block='lg'] {
      margin-block: calc(var(--bleed-block-lg, var(--spacing-4)) * -1);
    }

    &[data-block='xl'] {
      margin-block: calc(var(--bleed-block-xl, var(--spacing-6)) * -1);
    }
  }
}