@layer ui.components {
  .root {
    --bleed-inline-offset: 0px;
    --bleed-block-offset: 0px;

    box-sizing: border-box;
    position: relative;
    margin-inline: calc(var(--bleed-inline-offset) * -1);
    margin-block: calc(var(--bleed-block-offset) * -1);

    &[data-inline='xs'] {
      --bleed-inline-offset: var(--bleed-inline-xs, var(--spacing-1));
    }

    &[data-inline='sm'] {
      --bleed-inline-offset: var(--bleed-inline-sm, var(--spacing-2));
    }

    &[data-inline='md'] {
      --bleed-inline-offset: var(--bleed-inline-md, var(--spacing-3));
    }

    &[data-inline='lg'] {
      --bleed-inline-offset: var(--bleed-inline-lg, var(--spacing-4));
    }

    &[data-inline='xl'] {
      --bleed-inline-offset: var(--bleed-inline-xl, var(--spacing-6));
    }

    &[data-inline='full'] {
      inline-size: var(--bleed-inline-full-size, 100vw);
      max-inline-size: var(--bleed-inline-full-size, 100vw);
      margin-inline: var(--bleed-inline-full, calc(50% - 50vw));
    }

    &[data-block='xs'] {
      --bleed-block-offset: var(--bleed-block-xs, var(--spacing-1));
    }

    &[data-block='sm'] {
      --bleed-block-offset: var(--bleed-block-sm, var(--spacing-2));
    }

    &[data-block='md'] {
      --bleed-block-offset: var(--bleed-block-md, var(--spacing-3));
    }

    &[data-block='lg'] {
      --bleed-block-offset: var(--bleed-block-lg, var(--spacing-4));
    }

    &[data-block='xl'] {
      --bleed-block-offset: var(--bleed-block-xl, var(--spacing-6));
    }
  }
}