@layer ui.components {
  .root {
    padding-block: var(--highlight-padding-y, 0.0625rem);
    padding-inline: var(--highlight-padding-x, var(--spacing-1));
    border-radius: var(--highlight-radius, var(--radius-xs));
    background-color: var(
      --highlight-bg,
      color-mix(in oklab, var(--color-warning) 40%, var(--color-accent))
    );
    color: var(--highlight-color, var(--color-foreground));
    box-shadow: var(--highlight-shadow, none);
    font: inherit;
    font-weight: var(--highlight-font-weight, var(--weight-medium));
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}