.stack {
  display: flex;
  width: min(32rem, calc(100vw - var(--moduix-spacing-8)));
  flex-direction: column;
  gap: var(--moduix-spacing-3);
}

.customHeading {
  --moduix-heading-color: var(--moduix-color-primary);
  --moduix-heading-font-size: var(--moduix-text-3xl);
  --moduix-heading-line-height: var(--moduix-line-height-text-3xl);
  --moduix-heading-font-weight: var(--moduix-weight-bold);
}