.stack {
  display: flex;
  width: min(32rem, calc(100vw - var(--spacing-8)));
  flex-direction: column;
  gap: var(--spacing-3);
}

.customHeading {
  --heading-color: var(--color-primary);
  --heading-font-size-xl: var(--text-3xl);
  --heading-line-height-xl: var(--line-height-text-3xl);
  --heading-font-weight-semibold: var(--weight-bold);
}