@layer ui.components {
  .root {
    display: block;
    flex-shrink: 0;
    background-color: var(--separator-color, var(--color-border));

    &[data-orientation='horizontal'] {
      width: var(--separator-length-horizontal, 100%);
      height: var(--separator-thickness, 1px);
    }

    &[data-orientation='vertical'] {
      width: var(--separator-thickness, 1px);
      height: var(--separator-length-vertical, 1em);
    }
  }
}