.root {
  display: grid;
  gap: var(--moduix-spacing-3);
}

.row {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: var(--moduix-spacing-3);
  color: var(--moduix-color-muted-foreground);
  font-size: var(--moduix-text-sm);
  line-height: var(--moduix-line-height-text-sm);
}