@layer ui.components {
  .root {
    width: var(--input-width, 100%);
    max-width: var(--input-max-width, none);
  }

  .toggle {
    --button-icon-size: var(--input-group-icon-size, 1rem);
    color: var(--color-muted-foreground);

    &[aria-pressed='true'] {
      color: var(--color-foreground);
    }
  }
}