@layer ui.components {
  .root {
    display: block;
    flex-shrink: 0;
    border: 0;
    border-color: var(--separator-color, var(--color-border));
    border-style: var(--separator-border-style, solid);

    &[data-scope='separator'][data-part='root'][data-size='xs'] {
      --separator-size-thickness: 0.5px;
    }

    &[data-scope='separator'][data-part='root'][data-size='sm'] {
      --separator-size-thickness: 1px;
    }

    &[data-scope='separator'][data-part='root'][data-size='md'] {
      --separator-size-thickness: 2px;
    }

    &[data-scope='separator'][data-part='root'][data-size='lg'] {
      --separator-size-thickness: 3px;
    }

    &[data-scope='separator'][data-part='root'][data-variant='dashed'] {
      --separator-border-style: dashed;
    }

    &[data-scope='separator'][data-part='root'][data-variant='dotted'] {
      --separator-border-style: dotted;
    }

    &[data-orientation='horizontal'] {
      width: var(--separator-length-horizontal, 100%);
      height: 0;
      border-block-start-width: var(--separator-thickness, var(--separator-size-thickness, 1px));
    }

    &[data-orientation='vertical'] {
      width: 0;
      height: var(--separator-length-vertical, 1em);
      border-inline-start-width: var(--separator-thickness, var(--separator-size-thickness, 1px));
    }
  }
}