@layer moduix.storybook {
  .fullWidth {
    width: min(46rem, calc(100vw - var(--moduix-spacing-8)));
  }

  .picture {
    display: block;
    width: min(32rem, calc(100vw - var(--moduix-spacing-8)));
  }
}